@media screen and (max-width: 320px) {
    /* Estilos específicos para pantallas muy pequeñas */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    /* Estilos para teléfonos en modo retrato o landscape pequeños */
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    /* Estilos para teléfonos de mayor tamaño */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets en orientación vertical */
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    /* Estilos para tablets en horizontal y laptops pequeños */
    /* Login.html */
    #logoempresa {
        width: 180px;
    }

    #btnIniciar {
        width: 320px;
        height: 40px;
        font-size: 12px;
    }

    .entradaLogin {
        width: 320px;
    }

    .textoentrada {
        height: 40px;
        width: 320px;
        font-size: 12px;
    }

    #btnMostrarContra {
        right: 10px;
        top: 65%;
        transform: translateY(-90%);
    }

    #btnMostrarContra i {
        font-size: 20px;
    }

    #opacidadAzul {
        width: 380px;
    }

    #opacidadAzul::before {
        clip-path: ellipse(100% 62% at 160% 50%);
    }

    #recuperar a {
        font-size: 13px;
    }

    #robotContainer {
        width: 188px;
        height: 208px;
        bottom: 200px;
        right: 60px;
    }

    #robotImage {
        width: 100px;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {

    /* Estilos para pantallas de escritorio comunes (por ejemplo, 1920 x 1080) */
    /* Login.html */
    #logoempresa {
        width: 200px;
    }

    #btnIniciar {
        width: 350px;
        height: 40px;
        font-size: 15px;
    }

    .entradaLogin {
        width: 350px;
    }

    .textoentrada {
        height: 50px;
        width: 350px;
        font-size: 15px;
    }

    #btnMostrarContra {
        right: 10px;
        top: 65%;
        transform: translateY(-90%);
    }

    #btnMostrarContra i {
        font-size: 20px;
    }

    #opacidadAzul {
        width: 520px;
    }

    #opacidadAzul::before {
        clip-path: ellipse(100% 58% at 150% 50%);
    }

    #recuperar a {
        font-size: 15px;
    }

    #robotContainer {
        width: 238px;
        height: 258px;
        bottom: 255px;
        right: 130px;
    }

    #robotImage {
        width: 115px;
    }
}

@media screen and (min-width: 1921px) {

    /* Estilos para pantallas de muy alta resolución */
    /* Login.html */
    #logoempresa {
        width: 300px;
    }

    #btnIniciar {
        width: 370px;
        height: 50px;
        font-size: 18px;
    }

    .entradaLogin {
        width: 360px;
    }

    .textoentrada {
        height: 60px;
        width: 360px;
        font-size: 18px;
    }

    #btnMostrarContra {
        right: 15px;
        top: 65%;
        transform: translateY(-90%);
    }

    #btnMostrarContra i {
        font-size: 25px;
    }

    #opacidadAzul {
        width: 520px;
    }

    #opacidadAzul::before {
        clip-path: ellipse(100% 58% at 150% 50%);
    }

    #recuperar a {
        font-size: 18px;
    }

    #robotContainer {
        width: 308px;
        height: 328px;
        bottom: 355px;
        right: 130px;
    }

    #robotImage {
        width: 160px;
    }
}